<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- 控制台输出器 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 设置输出格式 -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- 根日志记录器，设置默认级别为 INFO，输出到控制台 -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <!-- 为特定包设置更详细的日志级别 -->
        <Logger name="walker.mybatis.paginator" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>